.center {
  text-align: center;
}

/* メイン画面 */
#bg {
  background-color: #fffff2;
  margin-top: 16px;
  height: 100%;
  min-height: 100%;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 30% 0 0;
}

.card-svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input-container {
  width: 50%;
}
.input-container p {
  margin: 10px;
}

.textarea {
  width: 80%;
  padding: 0.625em;
  resize: vertical;
}

.create-button {
  margin: 20px;
}

.card-img {
  max-width: 80%;
}

.button-color {
  display: block;
  background-color: #e85a70;
  margin: 0 auto;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  transition: 0.2s;
}

.button-color:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.post-buttons {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Tweet画面 */
.tweet-button {
  display: block;
  background-color: #00acee;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.tweet-button:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

/* レスポンシブ */
@media screen and (max-width: 425px) {
  .container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }

  .card-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin: 0 auto;
  }

  .card svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .input-container {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .textarea {
    max-width: 100%;
    padding: 0.625em;
    resize: vertical;
  }

  .create-button {
    margin: 10px;
  }

  .button-color {
    display: block;
    background-color: #e85a70;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
  }
}
